<div class="bg-gray border-right p-3" id="sidebar">
    <div>
        <img class="rounded mx-auto d-block"src="../../../assets/gifs.png" alt="gifsLogo">
        <img src="../../../assets/twitter.svg" alt="Bootstrap" width="18" height="18"> :  by: @WizSebastian
    </div>
    <hr class="text-white">
    <div>
        🕵🏻‍♂️&ensp;Previously searched:
      <a 
      *ngFor="let item of items"
      href="#" 
      class="badge bg-primary badge-custom"
      (click)="searchAgain(item)"
      >{{item |titlecase}}</a>
    </div>
  </div>